@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<section>
    <article class="form-box">
        <div class="log-form-head card-header">
            <ul class="nav nav-tabs card-header-tabs form-nav">
                <li class="nav-item w-50">
                    <a class=" w-auto text-center form-switch-btn form-switch-log-btn" href='/Home/Login'>
                        Вписване
                    </a>
                </li>
                <li class="nav-item w-50">
                    <a class="w-auto text-center form-switch-btn form-switch-reg-btn" href='/Home/Register'>
                        Регистрация
                    </a>
                </li>
            </ul>
        </div>
        @RenderBody()
    </article>
</section>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(function () {
            var current = location.pathname;
            $('.form-switch-btn').each(function () {
                var $this = $(this);
                if (current.indexOf($this.attr('href')) !== -1) {
                    $this.addClass('form-switch-active');
                }
            })
        })
    </script>
}