@using Auth_Application.ViewModels.Home
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using Auth_Application.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<partial name="_IndexNavBar" />

@section IndexTitle{
    <div class="text-center">
        @if (SignInManager.IsSignedIn(User))
        {
            <h1 class="logged-index-title" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Добре дошъл, @Model.UserName !
            </h1>
        }
        else
        {
            <h1 class="display-4 index-title">Добре дошъл !</h1>
        }
    </div>
}