@{
    ViewData["Title"] = "Register Confirm";
}
    <h4 class="index-title mng-title">Вашата регистрация беше успешно направена !</h4>
    <a class="reg-confirm-btn" href="~/">
        Напред
    </a>


