@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забравена парола?";
}

<h1 class="mng-title-center mng-title">@ViewData["Title"]</h1>
<h4 class="mng-title-center mng-title-sub">Въведете имейл адреса си.</h4>
<hr />
<div class="mng-box">
    <div class="mng-form-box justify-content-center">
        <form method="post">
            <div class="form-group">
                <label class="mng-title" asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="mng-input" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="mng-form-btn">Изпрати</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
