@page
@model LogoutModel
@{
    ViewData["Title"] = "Сигурни ли сте, че искате да излезете ?";
}

<section class="logout-pg-wrapper">
    <h4 class="form-title">@ViewData["Title"]</h4>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="logout-pg-btn" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-white">Да</button>
            </form>
            <form class="logout-pg-btn" asp-area="Identity" asp-page="/Account/Manage" asp-route-returnUrl="@Url.Page("Account/Manage/Index", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-white">Не</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</section>
